02-Demo-Requests-BeautifulSoup.ipynb

chromedriver.exe

Data_Science_Project

chromedriver_win32.zip

lưu ý đồ án.png

Lưu-ý-đồ-án.txt

Test_BeautifulSoup.ipynb

abcxyz.txt

README.md

Test_Riot_Api.ipynb

TrangBi.csv

TocHe.csv

